- var title = "not-bulma: Elements.Layouts.UIFooter"
script.
  window.EXAMPLES_SELECTED = 'UIFooter';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/layouts/footer.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/layouts/footer.js" type="module")
include ../../../parts/footer.pug
