- var title = "not-bulma: Elements.Layouts.UIPanelTop"
script.
  window.EXAMPLES_SELECTED = 'UIPanelTop';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/layouts/panel.top.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/layouts/panel.top.js" type="module")
include ../../../parts/footer.pug
