- var title = "not-bulma: Elements.Blocks.UIBox"
script.
  window.EXAMPLES_SELECTED = 'UIBox';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/block/box.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/block/box.js" type="module")
include ../../../parts/footer.pug
