section(id="examples" class="section")
  h1(class="title") Пустой список
  h2(class="subtitle") Elements.Lists.UIListEmptyPlaceholder
  div( class="box")    
    div(class="block")
      pre
        | string   [title = "not-node:empty_list_placeholder"]
        | number   [size = 4]
        | string   [align = 'center']