- var title = "not-bulma: Elements.Inputs.UICheckboxList"
script.
  window.EXAMPLES_SELECTED = 'UICheckboxList';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/inputs/checkbox.list.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/inputs/checkbox.list.js" type="module")
include ../../../parts/footer.pug
