- var title = "not-bulma: Elements.Inputs.UIControl"
script.
  window.EXAMPLES_SELECTED = 'UIControl';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/inputs/control.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/inputs/control.js" type="module")
include ../../../parts/footer.pug
