- var title = "not-bulma: Elements.Inputs.UIDate"
script.
  window.EXAMPLES_SELECTED = 'UIDate';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/inputs/date.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/inputs/date.js" type="module")
include ../../../parts/footer.pug
