- var title = "not-bulma: Elements.Inputs.UIListOfModels"
script.
  window.EXAMPLES_SELECTED = 'UIListOfModels';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/inputs/list.of.models.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/inputs/list.of.models.js" type="module")
include ../../../parts/footer.pug
