- var title = "not-bulma: Elements.Inputs.UINumber"
script.
  window.EXAMPLES_SELECTED = 'UINumber';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/inputs/number.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/inputs/number.js" type="module")
include ../../../parts/footer.pug
