- var title = "not-bulma: Elements.Inputs.UIPassword"
script.
  window.EXAMPLES_SELECTED = 'UIPassword';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/inputs/password.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/inputs/password.js" type="module")
include ../../../parts/footer.pug
