- var title = "not-bulma: Elements.Inputs.UIRadioButtons"
script.
  window.EXAMPLES_SELECTED = 'UIRadioButtons';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/inputs/radio.buttons.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/inputs/radio.buttons.js" type="module")
include ../../../parts/footer.pug
