- var title = "not-bulma: Elements.Inputs.UISelectFromModel"
script.
  window.EXAMPLES_SELECTED = 'UISelectFromModel';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/inputs/select.from.model.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/inputs/select.from.model.js" type="module")
include ../../../parts/footer.pug
