- var title = "not-bulma: Elements.Inputs.UISelect"
script.
  window.EXAMPLES_SELECTED = 'UISelect';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/inputs/select.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/inputs/select.js" type="module")
include ../../../parts/footer.pug
