- var title = "not-bulma: Elements.Inputs.UITelephone"
script.
  window.EXAMPLES_SELECTED = 'UITelephone';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/inputs/telephone.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/inputs/telephone.js" type="module")
include ../../../parts/footer.pug
