section(id="examples" class="section")
  h1(class="title") Скрытое значение
  div( class="box block")    
    div(class="block")
      pre
        | boolean     [hidden = true]
        | boolean     [showable = true]
        | boolean     [copiable = true]
        | string      [copyIcon = 'copy']
        | string      [showIcon = 'eye']
        | string      [hideIcon = 'eye-slash']
        | number      [maxLength = 20]
        | string      [shadowClass = "has-background-primary-90"]
        | boolean     [tooltip = true]
        | number      [tooltipTTL = 2000]
        | string      [tooltipText = "Скопировано в буфер"]
        | string      [tooltipClass = "has-tooltip-info"]
        | string      [value = ""]
        | function    [onerror]

