section(id="examples" class="section")
  h1(class="title") Список ошибок
  h2(class="subtitle") Elements.Various.UIErrorsList
  div( class="box")    
    div(class="block")
      pre
        | array of strings:       [errors = []]         - список ошибок или кодов локализованных названий
        | boolean:                [show = false]        - показывать или нет
        | string:                 [class = '']          - стили
        | string:                 [id = 'errors-list']  - идентификатор элемента
