section(id="examples" class="section")
  h1(class="title") Elements.Various.UITagValueList
  div( class="box block")
    pre
      | array    values = []
      | boolean  [grouped = true]
      | boolean  [multiline = true]