section(id="examples" class="section")
  h1(class="title") Elements.Various.UITagValue
  div( class="box block")
    pre
      | string   [id = "taggedValueId"] - if we want to address this tag
      | object   title
      | object   value
      | array    [actions = []]
      | string   [class = '']
      | any      [actionsGroupContructor = UIButtons]
      | any      [actionsGroupProps = {}]
      | boolean  [readonly = false]
