section(id="examples" class="section")
  h1(class="title") Elements.Various.UITitle
  div( class="box block")
    pre
      | string   [id = `title-${Math.random()}`]
      | string   [title = '']
      | string   [subtitle]
      | number   [size = 1]
      | number   [subsize]
      | boolean  [spaced = false]
      | string   [align = 'left']

