section(id="examples" class="section")
  h1(class="title") Чекбокс
  h2(class="subtitle") Elements.Inputs.UICheckbox
  div( class="box")    
    div(class="block")
      pre
        | boolean:      [value = '']
        | string:   [label = 'checkbox']
        | string:   [fieldname = 'checkbox']
        | boolean:  [required = true]
        | boolean:  [readonly = false]
        | boolean:  [disabled = false]
        | boolean:  [valid = true]
        | string:   [class = '']
        | string:   [labelClass = "checkbox"]
        | array of string:  [reactOn = ["onchange", "oninput"]]
        | function: [onchange]
        