section(id="examples" class="section")
  h1(class="title") Список чекбоксов
  h2(class="subtitle") Elements.Inputs.UICheckboxList
  div( class="box")    
    div(class="block")
      pre
        | array of string|number:      [value = []]        
        | string:   [fieldname = 'checkbox-list']        
        | array of object:  [variants = true]        
        | function: [onchange]
        