section(id="examples" class="section")
  h1(class="title") Скрытое
  h2(class="subtitle") Elements.Inputs.UIHidden
  div( class="box")    
    div(class="block")
      pre
        | any:      [value = '']        
        | string:   [fieldname = 'hidden']
        | boolean:  [required = true]
        | boolean:  [readonly = false]
        | function: [onchange]
        