- var title = "not-bulma: Elements.Buttons.UIButtons"
script.
  window.EXAMPLES_SELECTED = 'UIButtons';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/button/buttons.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/button/buttons.js" type="module")
include ../../../parts/footer.pug
