- var title = "not-bulma: Elements.Buttons.UIButtonsSwitchers"
script.
  window.EXAMPLES_SELECTED = 'UIButtonsSwitchers';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/button/buttons.switchers.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/button/buttons.switchers.js" type="module")
include ../../../parts/footer.pug
