section(id="examples" class="section")
  h1(class="title") Формы - notFormSet
  h2( class="subtitle") класс интегратор связывает несколько форм в один блок
  div( class="box")
    h3( class="title") notForm
    h4(class="subtitle") как создать
    div(class="block")
      pre
        | new notBulma.Frame.notFormSet({
        |   
        | });
      | Основным способом работы с этим классом является использование нарямую.
      | Но он может быть использован и напрямую.
