- var title = "not-bulma - Blocks - Block"
script.
  window.EXAMPLES_SELECTED = 'UIBlock';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/blocks.block.pug
  include ../parts/foot.pug
  
script(src="/js/blocks.block.js" type="module")
include ../parts/footer.pug
