- var title = "not-bulma - Blocks - BlockInnerVertical"
script.
  window.EXAMPLES_SELECTED = 'UIBlockInnerVertical';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/blocks.block.inner.vertical.pug
  include ../parts/foot.pug
  
script(src="/js/blocks.block.inner.vertical.js" type="module")
include ../parts/footer.pug
