- var title = "not-bulma: Elements.Blocks.UIContent"
script.
  window.EXAMPLES_SELECTED = 'UIContent';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/blocks.content.pug
  include ../parts/foot.pug
  
script(src="/js/blocks.content.js" type="module")
include ../parts/footer.pug
