- var title = "not-bulma - кнопки"
script.
  window.EXAMPLES_SELECTED = 'UIButton';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/buttons.pug
  include ../parts/foot.pug
  
script(src="/js/buttons.js" type="module")
include ../parts/footer.pug
