- var title = "not-bulma - кнопки в группах"
script.
  window.EXAMPLES_SELECTED = 'UIButtonsGroups';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/buttons.groups.pug
  include ../parts/foot.pug
  
script(src="/js/buttons.groups.js" type="module")
include ../parts/footer.pug
