- var title = "not-bulma: Elements.Buttons.UIButtons"
script.
  window.EXAMPLES_SELECTED = 'UIButtons';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/buttons.buttons.pug
  include ../parts/foot.pug
  
script(src="/js/buttons.buttons.js" type="module")
include ../parts/footer.pug
