- var title = "not-bulma - кнопка переключатель"
script.
  window.EXAMPLES_SELECTED = 'UIButtonSwitch';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/buttons.button.switch.pug
  include ../parts/foot.pug
  
script(src="/js/buttons.button.switch.js" type="module")
include ../parts/footer.pug
