- var title = "not-bulma: Elements.Buttons.UIButtonsRow"
script.
  window.EXAMPLES_SELECTED = 'UIButtonsRow';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/buttons.buttons.row.pug
  include ../parts/foot.pug
  
script(src="/js/buttons.buttons.row.js" type="module")
include ../parts/footer.pug
