- var title = "not-bulma: Elements.Forms.UIFormControl"
script.
  window.EXAMPLES_SELECTED = 'UIFormControl';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/forms.form.control.pug
  include ../parts/foot.pug
  
script(src="/js/forms.form.control.js" type="module")
include ../parts/footer.pug
