- var title = "not-bulma - формы - notFormSet"
script.
  window.EXAMPLES_SELECTED = 'notFormSet';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/form.notFormSet.pug
  include ../parts/foot.pug

script(src="/js/form.notFormSet.js" type="module")
include ../parts/footer.pug
