- var title = "not-bulma: Elements.Forms.UIValidatedIcon"
script.
  window.EXAMPLES_SELECTED = 'UIValidatedIcon';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/forms.validated.icon.pug
  include ../parts/foot.pug
  
script(src="/js/forms.validated.icon.js" type="module")
include ../parts/footer.pug
