- var title = "not-bulma: Elements.Forms.UIFormInputValidatedIcon"
script.
  window.EXAMPLES_SELECTED = 'UIFormInputValidatedIcon';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/forms.form.input.validated.icon.pug
  include ../parts/foot.pug
  
script(src="/js/forms.form.input.validated.icon.js" type="module")
include ../parts/footer.pug
