- var title = "not-bulma - формы - notForm"
script.
  window.EXAMPLES_SELECTED = 'notForm';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/form.notForm.pug
  include ../parts/foot.pug

script(src="/js/form.notForm.js" type="module")
include ../parts/footer.pug
