- var title = "not-bulma: Elements.Icons.UIIcon"
script.
  window.EXAMPLES_SELECTED = 'UIIcon';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/icons.icon.pug
  include ../parts/foot.pug
  
script(src="/js/icons.icon.js" type="module")
include ../parts/footer.pug
