- var title = "not-bulma: Elements.Images.UIImage"
script.
  window.EXAMPLES_SELECTED = 'UIImage';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/images.image.pug
  include ../parts/foot.pug
  
script(src="/js/images.image.js" type="module")
include ../parts/footer.pug
