- var title = "not-bulma: Elements.Images.UIImages"
script.
  window.EXAMPLES_SELECTED = 'UIImages';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/images.images.pug
  include ../parts/foot.pug
  
script(src="/js/images.images.js" type="module")
include ../parts/footer.pug
