- var title = "not-bulma - главная"
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/overview.index.pug
  include ../parts/foot.pug
  
include ../parts/footer.pug
