- var title = "not-bulma: Elements.Inputs.UISelectMultiple"
script.
  window.EXAMPLES_SELECTED = 'UISelectMultiple';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/inputs.select.multiple.pug
  include ../parts/foot.pug
  
script(src="/js/inputs.select.multiple.js" type="module")
include ../parts/footer.pug
