- var title = "not-bulma: Elements.Inputs.UIJSONArea"
script.
  window.EXAMPLES_SELECTED = 'UIJSONArea';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/inputs.json.area.pug
  include ../parts/foot.pug
  
script(src="/js/inputs.json.area.js" type="module")
include ../parts/footer.pug
