- var title = "not-bulma: Elements.Inputs.UIAutocomplete"
script.
  window.EXAMPLES_SELECTED = 'UIAutocomplete';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/inputs.autocomplete.pug
  include ../parts/foot.pug
  
script(src="/js/inputs.autocomplete.js" type="module")
include ../parts/footer.pug
