- var title = "not-bulma: Elements.Inputs.UITelephone"
script.
  window.EXAMPLES_SELECTED = 'UITelephone';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/inputs.telephone.pug
  include ../parts/foot.pug
  
script(src="/js/inputs.telephone.js" type="module")
include ../parts/footer.pug
