- var title = "not-bulma: Elements.Inputs.UISwitchList"
script.
  window.EXAMPLES_SELECTED = 'UISwitchList';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/inputs.switch.list.pug
  include ../parts/foot.pug
  
script(src="/js/inputs.switch.list.js" type="module")
include ../parts/footer.pug
