- var title = "not-bulma: Elements.Inputs.UISwitch"
script.
  window.EXAMPLES_SELECTED = 'UISwitch';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/inputs.switch.pug
  include ../parts/foot.pug
  
script(src="/js/inputs.switch.js" type="module")
include ../parts/footer.pug
