- var title = "not-bulma: Elements.Inputs.UISelect"
script.
  window.EXAMPLES_SELECTED = 'UISelect';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/inputs.select.pug
  include ../parts/foot.pug
  
script(src="/js/inputs.select.js" type="module")
include ../parts/footer.pug
