- var title = "not-bulma: Elements.Inputs.UIRange"
script.
  window.EXAMPLES_SELECTED = 'UIRange';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/inputs.range.pug
  include ../parts/foot.pug
  
script(src="/js/inputs.range.js" type="module")
include ../parts/footer.pug
