- var title = "not-bulma: Elements.Inputs.UIColor"
script.
  window.EXAMPLES_SELECTED = 'UIColor';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/inputs.color.pug
  include ../parts/foot.pug
  
script(src="/js/inputs.color.js" type="module")
include ../parts/footer.pug
