- var title = "not-bulma: Elements.Inputs.UIEmail"
script.
  window.EXAMPLES_SELECTED = 'UIEmail';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/inputs.email.pug
  include ../parts/foot.pug
  
script(src="/js/inputs.email.js" type="module")
include ../parts/footer.pug
