- var title = "not-bulma: Elements.Inputs.UILabel"
script.
  window.EXAMPLES_SELECTED = 'UILabel';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/inputs.label.pug
  include ../parts/foot.pug
  
script(src="/js/inputs.label.js" type="module")
include ../parts/footer.pug
