- var title = "not-bulma: Elements.Layouts.UIContainer"
script.
  window.EXAMPLES_SELECTED = 'UIContainer';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/layouts.container.pug
  include ../parts/foot.pug
  
script(src="/js/layouts.container.js" type="module")
include ../parts/footer.pug
