- var title = "not-bulma: Elements.Layouts.UILevel"
script.
  window.EXAMPLES_SELECTED = 'UILevel';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/layouts.level.pug
  include ../parts/foot.pug
  
script(src="/js/layouts.level.js" type="module")
include ../parts/footer.pug
