- var title = "not-bulma: Elements.Layouts.UIColumn"
script.
  window.EXAMPLES_SELECTED = 'UIColumn';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/layouts.column.pug
  include ../parts/foot.pug
  
script(src="/js/layouts.column.js" type="module")
include ../parts/footer.pug
