- var title = "not-bulma: Elements.Layouts.UILevelItem"
script.
  window.EXAMPLES_SELECTED = 'UILevelItem';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/layouts.level.item.pug
  include ../parts/foot.pug
  
script(src="/js/layouts.level.item.js" type="module")
include ../parts/footer.pug
