- var title = "not-bulma: Elements.Layouts.UIColumns"
script.
  window.EXAMPLES_SELECTED = 'UIColumns';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/layouts.columns.pug
  include ../parts/foot.pug
  
script(src="/js/layouts.columns.js" type="module")
include ../parts/footer.pug
