- var title = "not-bulma: Elements.Layouts.UISection"
script.
  window.EXAMPLES_SELECTED = 'UISection';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/layouts.section.pug
  include ../parts/foot.pug
  
script(src="/js/layouts.section.js" type="module")
include ../parts/footer.pug
