- var title = "not-bulma: Elements.Links.UILinks"
script.
  window.EXAMPLES_SELECTED = 'UILinks';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/links.links.pug
  include ../parts/foot.pug
  
script(src="/js/links.links.js" type="module")
include ../parts/footer.pug
