- var title = "not-bulma: Elements.Lists.UIListSelect"
script.
  window.EXAMPLES_SELECTED = 'UIListSelect';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/lists.list.select.pug
  include ../parts/foot.pug
  
script(src="/js/lists.list.select.js" type="module")
include ../parts/footer.pug
