- var title = "not-bulma: Elements.Lists.UIListSelectButtonsWithGroups"
script.
  window.EXAMPLES_SELECTED = 'UIListSelectButtonsWithGroups';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/lists.list.select.buttons.with.groups.pug
  include ../parts/foot.pug
  
script(src="/js/lists.list.select.buttons.with.groups.js" type="module")
include ../parts/footer.pug
