- var title = "not-bulma: Elements.Lists.UIEndlessListNavigation"
script.
  window.EXAMPLES_SELECTED = 'UIEndlessListNavigation';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/lists.endless.list.navigation.pug
  include ../parts/foot.pug
  
script(src="/js/lists.endless.list.navigation.js" type="module")
include ../parts/footer.pug
