- var title = "not-bulma: Elements.Lists.UIEndlessListSimpleItem"
script.
  window.EXAMPLES_SELECTED = 'UIEndlessListSimpleItem';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/lists.endless.list.simple.item.pug
  include ../parts/foot.pug
  
script(src="/js/lists.endless.list.simple.item.js" type="module")
include ../parts/footer.pug
