- var title = "not-bulma - меню"
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/menu.side.pug
  include ../parts/foot.pug
  
include ../parts/footer.pug
