- var title = "not-bulma: Elements.Notifications.UIMessage"
script.
  window.EXAMPLES_SELECTED = 'UIMessage';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/notifications.message.pug
  include ../parts/foot.pug
  
script(src="/js/notifications.message.js" type="module")
include ../parts/footer.pug
