- var title = "not-bulma: Elements.Notifications.UISuccess"
script.
  window.EXAMPLES_SELECTED = 'UISuccess';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/notifications.success.pug
  include ../parts/foot.pug
  
script(src="/js/notifications.success.js" type="module")
include ../parts/footer.pug
