- var title = "not-bulma: Elements.Notifications.UICookieNotification"
script.
  window.EXAMPLES_SELECTED = 'UICookieNotification';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/notifications.cookie.notification.pug
  include ../parts/foot.pug
  
script(src="/js/notifications.cookie.notification.js" type="module")
include ../parts/footer.pug
