- var title = "not-bulma: Elements.Notifications.UIError"
script.
  window.EXAMPLES_SELECTED = 'UIError';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/notifications.error.pug
  include ../parts/foot.pug
  
script(src="/js/notifications.error.js" type="module")
include ../parts/footer.pug
