- var title = "not-bulma: Elements.Various.UIErrorsList"
script.
  window.EXAMPLES_SELECTED = 'UIErrorsList';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/various.errors.list.pug
  include ../parts/foot.pug
  
script(src="/js/various.errors.list.js" type="module")
include ../parts/footer.pug
