- var title = "not-bulma - метки"
script.
  window.EXAMPLES_SELECTED = 'UITag';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/various.tag.pug
  include ../parts/foot.pug
  
script(src="/js/various.tag.js" type="module")
include ../parts/footer.pug
