- var title = "not-bulma: Elements.Various.UISelectFromModelWithSearchModal"
script.
  window.EXAMPLES_SELECTED = 'UISelectFromModelWithSearchModal';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/various.select.from.model.with.search.modal.pug
  include ../parts/foot.pug
  
script(src="/js/various.select.from.model.with.search.modal.js" type="module")
include ../parts/footer.pug
