- var title = "not-bulma: Elements.Various.UISimpleSearchInput"
script.
  window.EXAMPLES_SELECTED = 'UISimpleSearchInput';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/various.simple.search.input.pug
  include ../parts/foot.pug
  
script(src="/js/various.simple.search.input.js" type="module")
include ../parts/footer.pug
