- var title = "not-bulma: Elements.Various.UIIndicator"
script.
  window.EXAMPLES_SELECTED = 'UIIndicator';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/various.indicator.pug
  include ../parts/foot.pug
  
script(src="/js/various.indicator.js" type="module")
include ../parts/footer.pug
