- var title = "not-bulma: Elements.Various.UILoader"
script.
  window.EXAMPLES_SELECTED = 'UILoader';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/various.loader.pug
  include ../parts/foot.pug
  
script(src="/js/various.loader.js" type="module")
include ../parts/footer.pug
