- var title = "not-bulma: Elements.Various.UITagValueList"
script.
  window.EXAMPLES_SELECTED = 'UITagValueList';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/various.tag.value.list.pug
  include ../parts/foot.pug
  
script(src="/js/various.tag.value.list.js" type="module")
include ../parts/footer.pug
