- var title = "not-bulma - булевы типы"
script.
  window.EXAMPLES_SELECTED = 'UIBoolean';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/various.boolean.pug
  include ../parts/foot.pug
  
script(src="/js/various.boolean.js" type="module")
include ../parts/footer.pug
