- var title = "not-bulma: Elements.Various.UITagValue"
script.
  window.EXAMPLES_SELECTED = 'UITagValue';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/various.tag.value.pug
  include ../parts/foot.pug
  
script(src="/js/various.tag.value.js" type="module")
include ../parts/footer.pug
