- var title = "not-bulma: Elements.Various.UICensored"
script.
  window.EXAMPLES_SELECTED = 'UICensored';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/various.censored.pug
  include ../parts/foot.pug
  
script(src="/js/various.censored.js" type="module")
include ../parts/footer.pug
