- var title = "not-bulma: Elements.Various.UISelectFromModelOnDemandInline"
script.
  window.EXAMPLES_SELECTED = 'UISelectFromModelOnDemandInline';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/various.select.from.model.on.demand.inline.pug
  include ../parts/foot.pug
  
script(src="/js/various.select.from.model.on.demand.inline.js" type="module")
include ../parts/footer.pug
