- var title = "not-bulma: Elements.Various.UIBooleans"
script.
  window.EXAMPLES_SELECTED = 'UIBooleans';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/various.booleans.pug
  include ../parts/foot.pug
  
script(src="/js/various.booleans.js" type="module")
include ../parts/footer.pug
