- var title = "not-bulma: Elements.Various.UIProgress"
script.
  window.EXAMPLES_SELECTED = 'UIProgress';
include ../parts/header.pug
include ../parts/menu.pug
include ../parts/sidemenu.pug

main
  include ../content/various.progress.pug
  include ../parts/foot.pug
  
script(src="/js/various.progress.js" type="module")
include ../parts/footer.pug
