- var title = "not-bulma: Elements.Various.UIBooleans"
script.
  window.EXAMPLES_SELECTED = 'UIBooleans';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/various/booleans.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/various/booleans.js" type="module")
include ../../../parts/footer.pug
