- var title = "not-bulma: Elements.Various.UIBoolean"
script.
  window.EXAMPLES_SELECTED = 'UIBoolean';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/various/boolean.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/various/boolean.js" type="module")
include ../../../parts/footer.pug
