- var title = "not-bulma: Elements.Various.UICensored"
script.
  window.EXAMPLES_SELECTED = 'UICensored';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/various/censored.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/various/censored.js" type="module")
include ../../../parts/footer.pug
