- var title = "not-bulma: Elements.Various.UIErrorsList"
script.
  window.EXAMPLES_SELECTED = 'UIErrorsList';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/various/errors.list.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/various/errors.list.js" type="module")
include ../../../parts/footer.pug
