- var title = "not-bulma: Elements.Various.UIShowOneFromList"
script.
  window.EXAMPLES_SELECTED = 'UIShowOneFromList';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/various/show.one.from.list.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/various/show.one.from.list.js" type="module")
include ../../../parts/footer.pug
