- var title = "not-bulma: Elements.Various.UITitle"
script.
  window.EXAMPLES_SELECTED = 'UITitle';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/various/title.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/various/title.js" type="module")
include ../../../parts/footer.pug
