- var title = "not-bulma: Elements.Images.UIImages"
script.
  window.EXAMPLES_SELECTED = 'UIImages';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/image/images.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/image/images.js" type="module")
include ../../../parts/footer.pug
