- var title = "not-bulma: Elements.Images.UIImage"
script.
  window.EXAMPLES_SELECTED = 'UIImage';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/image/image.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/image/image.js" type="module")
include ../../../parts/footer.pug
