section(id="examples" class="section")
  h1(class="title") Кнопки
  h2( class="subtitle") субтитра
  div( class="box")
    h3( class="title") Constructor
    h4(class="subtitle") как создать
    div(class="block")
      pre
        | mount(notBulma.Elements.Buttons.UIButton,{target: HTMLElement, props: Object});
    h3( class="title") Props
    h4(class="subtitle") что можно задавать
    div(class="block")
      pre
        | string:           title = ''            - надпись
        | boolean:          light = false         - стиль
        | boolean:          loading = false       - класс заменяет содержимое на loader
        | boolean:          raised = false        - стиль
        | boolean:          outlined = false      - стиль
        | boolean:          inverted = false      - стиль
        | boolean:          rounded = false       - стиль
        | boolean:          disabled = false      - атрибут
        | string:           state = ''            - класс normal/hover/focus/active/static
        | string:           type = '';            - атрибут submit/reset
        | string:           color = '';           - класс цветовая схема
        | string:           size = '';            - класс размер
        | string:           class = '';           - дополнительные классы, строкой
        | string|boolean:   icon = false;         - название иконки FA
        | string:           iconSide = 'right';   - положение иконки left/right
        | function:         onclick = ({ event, value })=>{ return true; } - что делать по нажатию, svelte 5 bubbling
        | function:         action = (event, value)=>{ return true; } - что делать по нажатию
        | any:              value                 - привязанное значение, в onclick и action передаётся именно оно
