section(id="examples" class="section")
  h1(class="title") Кнопки переключатели
  h2( class="subtitle") субтитра
  div( class="box")
    h3( class="title") Constructor
    h4(class="subtitle") как создать
    div(class="block")
      pre
        | mount(notBulma.Elements.Buttons.UIButtonsSwitchers,{target: HTMLElement, props: Object});
    h3( class="title") Props
    h4(class="subtitle") что можно задавать
    div(class="block")
      pre 
        | array:            values = []           - массив props для 
        | boolean:          centered = false      - по центру
        | boolean:          right = false         - справа
        | string:           class = '';           - дополнительные классы, строкой
        | function:         onclick = ({ event, value })=>{ return true; } - что делать по нажатию, svelte 5 bubbling
        | function:         onchange = ({ values: array of items, selected:array of items, selectedIds:array items ids, selectedCount: number })=>undefined - вызывается при изменении состояния
        | function:         action = (event, value, selected)=>{ return !selected; } - возвращает новое состояние, поведение поумолчанию учитывает min/max и другие опции        
        | number:           min = 0               - минимальное число "включенных" кнопок
        | number:           max = 100             - максимальное число "включенных" кнопок
        | svelte Component  buttonComponent = UIButtonSwitch -  что используем для отрисовки
        | object:           buttonProps = {}      - общие props для кнопок
