section(id="examples" class="section")
  h1(class="title") Иконка валидности поля ввода  
  h2(class="subtitle") Elements.Forms.UIValidatedIcon
  div( class="box")    
    div(class="block")
      pre        
        | string:   [size = ""]  - size: small, medium, large        
        | string:   [side = ""] - left|right
        | boolean:   [validated] - если была проведена валидация
        | boolean:   [valid] - если валидация была пройдена