section(id="examples" class="section")
  h1(class="title") Поле ввода формы
  h2(class="subtitle") Elements.Forms.UIFormInput
  div( class="box")    
    div(class="block")
      pre
        | any:                              value                             - input value
        | svelte component constructor:     UIInput                           - svelte component constructor
        | string:                           fieldtype                         - field type name, used to generate ids
        | string:                           fieldname                         - field name, used to generate ids and in onchange event arguments ({field, value}, event)
        | string:                           [fieldnamePrefix = 'form-field-'] - prefix of ids
        | boolean:                          [readonly]                        - if this input should be rendered as readonly
        | string:                           [icon]                            - icon name
        | boolean:                          [valid = true]                    - value validation result
        | boolean:                          [validated = false]               - if value were validated
        | ...others will be passed to UIInput
        