section(id="examples" class="section")
  h1(class="title") Иконка  
  h2(class="subtitle") Elements.Icons.UIIconFloating
  div( class="box")    
    div(class="block")
      pre
        | object:   [trigger = {          - параметры UIButton, которая работает как триггер
        |    title: "Click me!",
        |    icon: "plus",
        |    color: "primary",
        |    size: "medium",
        |    onclick: () => true,
        | }]
        | string:    [top="2em"]          - отступ сверху
        | string:    [left="2em"]         - отступ слева
        | string:    [right]              - отступ справа
        | string:    [bottom]             - отступ снизу
        | string:     [class=""]          - дополнительные классы для контейнера триггера