section(id="examples" class="section")
  h1(class="title") Иконка с меткой 
  h2(class="subtitle") Elements.Icons.UIIconButtonWithTag
  div( class="box")    
    div(class="block")
      pre
        | object:   [button = {}]   - параметры кнопки UIButton
        | object:   [tag = {}]      - параметры кнопки UITag
        | string:   [left]          - CSS размер заступа тэга за контейнер влево
        | string:   [right]         - CSS размер заступа тэга за контейнер вправо
        | string:   [top]           - CSS размер заступа тэга за контейнер вверх
        | string:   [bottom]        - CSS размер заступа тэга за контейнер вниз