section(class="section")
  h1(class="title") Кнопки
  h2( class="subtitle") субтитра
  div( class="box")
    h3( class="title") Под тип
    h4(class="subtitle") субтитра
    div(class="block")
      pre
        | Описание
  script.
    document.addEventListener('DOMContentLoaded', () => {
      //скрипты
    });
  div(class="box")
    div(class="block") Пример 1
    div(id="example-1") &nbsp;
