section(id="examples" class="section")
  h1(class="title") Телефон
  h2(class="subtitle") Elements.Inputs.UITelephone
  div( class="box")    
    div(class="block")
      pre
        | any:      [value = '']
        | string:   [placeholder = '+7 987 654-32-10']
        | string:   [pattern = "\+[0-9]{1,3}\s+[0-9]{3}\s+[0-9]{3}-[0-9]{2}-[0-9]{2}"]
        | string:   [fieldname = 'telephone']
        | boolean:  [required = true]
        | boolean:  [readonly = false]
        | boolean:  [disabled = false]
        | boolean:  [valid = true]
        | string:   [class = '']
        | function: [onchange]
        