section(id="examples" class="section")
  h1(class="title") Выпадающий список
  h2(class="subtitle") Elements.Inputs.UISelectOption
  div( class="box")    
    div(class="block")
      pre        
        | string|number:       value
        | string:              title
        | boolean:             selected