section(id="examples" class="section")
  h1(class="title") Переключатель
  h2(class="subtitle") Elements.Inputs.UISwitch
  div( class="box")    
    div(class="block")
      pre
        | any:      [value = false]
        | string:   [label = '']
        | boolean:  [hideLabel = false]
        | string:   [fieldname = 'switch']
        | boolean:  [required = true]
        | boolean:  [readonly = false]
        | boolean:  [disabled = false]
        | array of string [reactOn = ["onblur", "oninput"]]
        | boolean:  [valid = true]
        | string:   [class = '']
        | function: [onchange]
        