section(id="examples" class="section")
  h1(class="title") Автодополнение
  h2(class="subtitle") Elements.Inputs.UIAutocomplete
  div( class="box")    
    div(class="block")
      pre
        | More properties at https://github.com/pstanoev/simple-svelte-autocomplete#properties
        |
        | any:      value
        | string:   [placeholder = '']
        | string:   [fieldname = 'autocomplete']
        | boolean:  [disabled = false]
        | boolean:  [readonly = false]
        | boolean:  [required = false]
        | boolean:  [valid = true]
        | function: [onchange]
        | string:   [valueFieldName]
        | string:   [labelFieldName]
        | function: [valueFunction]
        | function: [labelFunction]
        | function: [searchFunction]
        | function: [itemSortFunction]
        | function: [itemFilterFunction]
        | number:   [delay = 0]           in ms
        