section(id="examples" class="section")
  h1(class="title") Цвет
  h2(class="subtitle") Elements.Inputs.UIColor
  div( class="box")    
    div(class="block")
      pre
        | any:      [value = '']
        | string:   [placeholder = '']
        | string:   [fieldname = 'color']
        | string:   [size]              ['small', default, 'medium', 'large']
        | string:   [color]             bulma colors ['link', 'primary', 'info', 'success', 'warning', 'danger'] for border
        | boolean:  [required = true]
        | boolean:  [readonly = false]
        | boolean:  [disabled = false]
        | boolean:  [valid = true]
        | string:   [class = '']
        | function: [onchange]
        