section(id="examples" class="section")
  h1(class="title") Пароль
  h2(class="subtitle") Elements.Inputs.UIPassword
  div( class="box")    
    div(class="block")
      pre
        | any:      [value = '']
        | string:   [placeholder = '']
        | string:   [fieldname = 'password']
        | boolean:  [required = true]
        | boolean:  [readonly = false]
        | boolean:  [disabled = false]
        | boolean:  [valid = true]
        | string:   [class = '']
        | function: [onchange]
        