section(id="examples" class="section")
  h1(class="title") Range
  h2(class="subtitle") Elements.Inputs.UIRange
  div( class="box")    
    div(class="block")
      pre
        | any:      [value = 10]
        | number:   [min = 0]
        | number:   [max = 100]
        | number:   [step = 1]
        | array of objects{value:number, label: string}: [tickmarks = false]
        | string:   [placeholder = '']
        | string:   [fieldname = 'range']
        | boolean:  [required = true]
        | boolean:  [readonly = false]
        | boolean:  [disabled = false]
        | boolean:  [valid = true]
        | string:   [class = '']
        | function: [onchange]
        