section(id="examples" class="section")
  h1(class="title") Подпись к полю ввода  
  h2(class="subtitle") Elements.Inputs.UILabel
  div( class="box")    
    div(class="block")
      pre
        | string:               for                   - id of element this label attached to        
        | string:               [label = 'label']     - text of label will be used if no children content were specified
        | string:               [class = 'label']     - class of label        
        