section(id="examples" class="section")
  h1(class="title") Колонки
  h2(class="title") Elements.Layouts.UIColumns
  div( class="box")
    div(class="block")
      pre
        | string:           id                    - unique identificator
        | string            class = ""            - стили
        | string            title = ""            - название
        | string            role = "button"       - роль элемента
        | number            tabIndex = 0          - таб индекс
        | function          onclick               - обработчик клика
        | funciton          onkeyup               - обработчик подъема клавиши
