section(id="examples" class="section")
  h1(class="title") Ссылки
  h2(class="subtitle") Elements.Links.UILinks
  div( class="box")    
    div(class="block")
      pre
        | array: values = [],
        | string: class = "",
        | boolean: centered = false,
        | boolean: right = false,
        | boolean: joined = true,
        | array: itemsProps = {},
