section(id="examples" class="section")
  h1(class="title") Elements.Lists.UIListSelectWithGroups
  div( class="box block")    
    pre
      | function     [onchange]  callback on value change event
      | string       [fieldname = "list-select"]                              field name
      | import('../types').VariantsGroups     [variants = []]
      | import('../types').SelectedValues     [variantsSelected = {}]
      | import('../types').SelectedVariants   [value = []]
      | object                                [behaviourUI = ListGroupsUITreeDTO]
      | object                                [behaviourValue = ListGroupsValueDTO]
      | boolean                               [multiple = true]
      | boolean                               [onlyOnePerGroup = true]
      | boolean                               [atLeastOne = true]
      | function                              [titleComponent = UITitle]
      | object                                [titleComponentProps = { size: 5}]
      | function                              [imageComponent = UIImage]
      | object                                [imageComponentProps = { covered: true }]
      | function                              [descriptionComponent = UIButtons]
      | object                                [descriptionComponentProps = {}]
      | function                              [listComponent = UIList]
      | object                                [listComponentProps = {}]
      