section(id="examples" class="section")
  h1(class="title") Elements.Lists.UIListBlock
  div( class="box block")
    | Wrapper that represents items of list via specified component or renderer
  div( class="box block")
    pre
      | string        [idFieldName = "id"]
      | array         [items = []]
      | array         [actions = []]
      | array         [links = []]
      | string        [itemClass = ""]
      | function      [listItemComponent = UIListItem]
      | object        [listItemComponentProps = {}]
      | function      [titleComponent = UITitle]
      | object        [titleComponentProps = { size: 6 }]
      | function      descriptionComponent
      | object        [descriptionComponentProps = {}]
      | function      imageComponent
      | object        [imageComponentProps = {}]
      | function      [onclick]
      | function      [onclickContent]
      | function      [onclickDescription]
      | function      [onclickImage]
      | function      [onclickTitle]
