section(id="examples" class="section")
  h1(class="title") Модальное окно
  h2(class="subtitle") Elements.Modals.UIModal
  div( class="box")    
    div(class="block")
      pre
        | string:                 [buttonsPosition = "bottom"]      - top, topOfContent, bottom
        | boolean:                [fullscreen = false]              - sizing
        | boolean:                [closeButton = false]             - button props
        | boolean:                [applyButton = false]             - button props
        | string:                 [title = "Modal window"]          - UITitle title prop
        | string:                 [subtitle = '']                   - UITitle title prop
        | number:                 [titleSize = 2]                   - UITitle size
        | boolean:                [show = false]                    - show modal
        | boolean:                [loading = false]                 - show modal loading        
        | string:                 [WAITING_TEXT = "Обработка"]      - UILoader title props
        | string:                 [class = '']                      - styling classes
        | string:                 [overlayClass = '']               - UIOverlay styling classes
        | string:                 [buttonsClass = '']               - UIButtonsRow styling classes        
        | Svelte Snippet:         [children]