section(id="examples" class="section")
  h1(class="title") Прогресс
  div( class="box block")    
    div(class="block")
      pre
        | any      value
        | number   [max = 100]
        | string   [color = ""]
        | string   [size = ""]
        | string   [class = ""]
