section(id="examples" class="section")
  h1(class="title") Булевы
  div( class="box block")
    pre      
      | array    values                                     значения
      | boolean  [inverted = false]                         инвертирование цвета danger для true, success для false
      | function [componentConstructor = UIBoolean]         компонент для отрисовки элементов
      | function [itemRenderer]                             функция/сниппет для отрисовки элементов списка, если есть, то используется вместо componentConstructor
