section(id="examples" class="section")
  h1(class="title") Булевы с названием
  div( class="box block")
    pre
      |  string   label                                     текст подписи
      |  boolean  value                                     значение
      |  boolean  [inverted = false]                        инвертирование цвета danger для true, success для false
