section(id="examples" class="section")
  h1(class="title") Elements.Various.UITag
  div( class="box")
    div(class="block")
      pre
        |  string   [LC_TRUE = "not-node:booleans_true"]      надпись для TRUE
        |  string   [LC_FALSE = "not-node:booleans_false"]    надпись для FALSE
        |  any      value                                     значение
        |  boolean  [inverted = false]                        инвертирование цвета danger для true, success для false
