section(id="examples" class="section")
  h1(class="title") Elements.Various.UILoader
  div( class="box")
    div(class="block")
      pre
        | boolean:  [loading = false]       - state if form loading
        | string:   [size = 'container']    - (page, container, hidden)
        | string:   [title = 'Waiting...']  - LC string
        | number:   div(ttl="")             - time to live, will be closed after ttl ms
        | snippet:  [children]              - snippets may be provided
