section(id="examples" class="section")
  h1(class="title") Навигация "бесконечного" списка
  h2(class="subtitle") Elements.Lists.UIEndlessListNavigation
  div( class="box")    
    div(class="block")
      pre
