section(class="section")
  h1(class="title") not-bulma
  h2( class="subtitle") Svelte исполнение Bulma
  div( class="box")
    h3( class="title") Описание
    h4(class="subtitle") какое-никакое
    div(class="block")
      | Вольное ограниченное исполнение элементов Bulma
  script.
    document.addEventListener('DOMContentLoaded', () => {
      //скрипты
    });
  div(class="box")
    div(class="block") Пример 1
    div(id="example-1") &nbsp;
