- var title = "not-bulma: Elements.Inputs.UICheckbox"
script.
  window.EXAMPLES_SELECTED = 'UICheckbox';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/input/checkbox.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/input/checkbox.js" type="module")
include ../../../parts/footer.pug
