- var title = "not-bulma: Elements.Inputs.UIDatetimeInTZ"
script.
  window.EXAMPLES_SELECTED = 'UIDatetimeInTZ';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/input/datetime.in.tz.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/input/datetime.in.tz.js" type="module")
include ../../../parts/footer.pug
