- var title = "not-bulma: Elements.Inputs.UIHidden"
script.
  window.EXAMPLES_SELECTED = 'UIHidden';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/input/hidden.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/input/hidden.js" type="module")
include ../../../parts/footer.pug
