- var title = "not-bulma: Elements.Inputs.UILabel"
script.
  window.EXAMPLES_SELECTED = 'UILabel';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/input/label.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/input/label.js" type="module")
include ../../../parts/footer.pug
