- var title = "not-bulma: Elements.Inputs.UINamedNumbersList"
script.
  window.EXAMPLES_SELECTED = 'UINamedNumbersList';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/input/named.numbers.list.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/input/named.numbers.list.js" type="module")
include ../../../parts/footer.pug
