- var title = "not-bulma: Elements.Inputs.UISelectOption"
script.
  window.EXAMPLES_SELECTED = 'UISelectOption';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/input/select.option.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/input/select.option.js" type="module")
include ../../../parts/footer.pug
