- var title = "not-bulma: Elements.Inputs.UISwitchList"
script.
  window.EXAMPLES_SELECTED = 'UISwitchList';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/input/switch.list.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/input/switch.list.js" type="module")
include ../../../parts/footer.pug
