- var title = "not-bulma: Elements.Inputs.UITagSelect"
script.
  window.EXAMPLES_SELECTED = 'UITagSelect';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/input/tag.select.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/input/tag.select.js" type="module")
include ../../../parts/footer.pug
