- var title = "not-bulma: Elements.Inputs.UITextfield"
script.
  window.EXAMPLES_SELECTED = 'UITextfield';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/input/textfield.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/input/textfield.js" type="module")
include ../../../parts/footer.pug
