- var title = "not-bulma: Elements.Inputs.UITextarea"
script.
  window.EXAMPLES_SELECTED = 'UITextarea';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/input/textarea.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/input/textarea.js" type="module")
include ../../../parts/footer.pug
