- var title = "not-bulma: Elements.Icons.UIIconButtonWithTag"
script.
  window.EXAMPLES_SELECTED = 'UIIconButtonWithTag';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/icon/icon.button.with.tag.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/icon/icon.button.with.tag.js" type="module")
include ../../../parts/footer.pug
