- var title = "not-bulma: Elements.Lists.UIListEmptyPlaceholder"
script.
  window.EXAMPLES_SELECTED = 'UIListEmptyPlaceholder';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/lists/list.empty.placeholder.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/lists/list.empty.placeholder.js" type="module")
include ../../../parts/footer.pug
