- var title = "not-bulma: Elements.Lists.UIListItem"
script.
  window.EXAMPLES_SELECTED = 'UIListItem';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/lists/list.item.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/lists/list.item.js" type="module")
include ../../../parts/footer.pug
