section(id="examples" class="section")
  h1(class="title") Оболочка дял контрола
  h2(class="subtitle") Elements.Inputs.UIControl
  div( class="box")    
    div(class="block")
      pre
        | string:               [id]                    - id of this element
        | string:               [class = '']            - class of control
        