section(id="examples" class="section")
  h1(class="title") Число
  h2(class="subtitle") Elements.Inputs.UINumber
  div( class="box")    
    div(class="block")
      pre
        | number:   [value = 0]
        | number:   [min = 0]
        | number:   [max = 100]
        | number:   [step = 1]
        | string:   [placeholder = '0.0']
        | string:   [fieldname = 'number']
        | string:   [size]              ['small', default, 'medium', 'large']
        | string:   [color]             bulma colors ['link', 'primary', 'info', 'success', 'warning', 'danger'] for border
        | boolean:  [required = true]
        | boolean:  [readonly = false]
        | boolean:  [disabled = false]
        | boolean:  [valid = true]
        | string:   [class = '']
        | function: [onchange]
        