section(id="examples" class="section")
  h1(class="title") Радио кнопки
  h2(class="subtitle") Elements.Inputs.UIRadioButtons
  div( class="box")    
    div(class="block")
      pre        
        
        