section(id="examples" class="section")
  h1(class="title") Выбор из модели
  h2(class="subtitle") Elements.Inputs.UISelectFromModel
  div( class="box")    
    div(class="block")
      pre                
        