- var title = "not-bulma: Elements.Modals.UIOverlay"
script.
  window.EXAMPLES_SELECTED = 'UIOverlay';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/modal/overlay.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/modal/overlay.js" type="module")
include ../../../parts/footer.pug
