- var title = "not-bulma: Elements.Notifications.UICookieNotification"
script.
  window.EXAMPLES_SELECTED = 'UICookieNotification';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/notification/cookie.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/notification/cookie.js" type="module")
include ../../../parts/footer.pug
