- var title = "not-bulma: Elements.Notifications.UIError"
script.
  window.EXAMPLES_SELECTED = 'UIError';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/notification/error.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/notification/error.js" type="module")
include ../../../parts/footer.pug
