- var title = "not-bulma: Elements.Notifications.UISuccess"
script.
  window.EXAMPLES_SELECTED = 'UISuccess';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/notification/success.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/notification/success.js" type="module")
include ../../../parts/footer.pug
