- var title = "not-bulma: Elements.Blocks.UIBlockInnerVertical"
script.
  window.EXAMPLES_SELECTED = 'UIBlockInnerVertical';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/blocks/block.inner.vertical.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/blocks/block.inner.vertical.js" type="module")
include ../../../parts/footer.pug
