section(id="examples" class="section")
  h1(class="title") Сообщения
  h2(class="subtitle") Elements.Notifications.UISuccess
  div( class="box")    
    div(class="block")
      pre
        | string: title
        | snippet function: titleSnip
        | string: message
        | snippet function: messageSnip
        | string: class = UICommon.CLASS_OK
        | string: color
