- var title = "not-bulma: Elements.Lists.UIListBlock"
script.
  window.EXAMPLES_SELECTED = 'UIListBlock';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/list/list.block.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/list/list.block.js" type="module")
include ../../../parts/footer.pug
