- var title = "not-bulma: Elements.Navigations.UINavbarItem"
script.
  window.EXAMPLES_SELECTED = 'UINavbarItemText';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/navigation/navbar.item.text.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/navigation/navbar.item.text.js" type="module")
include ../../../parts/footer.pug
