- var title = "not-bulma: Elements.Navigations.UINavbarBrandWrapper"
script.
  window.EXAMPLES_SELECTED = 'UINavbarBrandWrapper';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/navigation/navbar.brand.wrapper.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/navigation/navbar.brand.wrapper.js" type="module")
include ../../../parts/footer.pug
