- var title = "not-bulma: Elements.Navigations.UINavbarItemDevider"
script.
  window.EXAMPLES_SELECTED = 'UINavbarItemDevider';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/navigation/navbar.item.devider.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/navigation/navbar.item.devider.js" type="module")
include ../../../parts/footer.pug
