section(id="examples" class="section")
  h1(class="title") Elements.Buttons.UIButtonSwitch
  div( class="box")
    div(class="block")
      pre
        | Нотация тип: название = поумолчанию - описание
        | string:           title = ''            - надпись
        | boolean:          light = false         - стиль
        | boolean:          loading = false       - класс заменяет содержимое на loader
        | boolean:          raised = false        - стиль
        | boolean:          outlined = false      - стиль
        | boolean:          inverted = false      - стиль
        | boolean:          rounded = false       - стиль
        | boolean:          disabled = false      - атрибут
        | string:           state = ''            - класс normal/hover/focus/active/static
        | string:           type = '';            - атрибут submit/reset
        | string:           color = '';           - класс цветовая схема
        | string:           size = '';            - класс размер
        | string:           class = '';           - дополнительные классы, строкой
        | string|boolean:   icon = false;         - название иконки FA
        | string:           iconSide = 'right';   - положение иконки left/right
        | function:         onclick = ({ event, value })=>{ return true; } - что делать по нажатию, svelte 5 bubbling
        | function:         onchange = ({ selected, value })=>undefined - вызывается при изменении состояния
        | function:         action = (event, value, selected)=>{ return !selected; } - возвращает новое состояние
        | function          uiOff = (value, selected)=>{ return {color: ''}; } - возвращает объект с мутациями для props кнопки
        | function          uiOn = (value, selected)=>{ return {color: 'success'}; } - возвращает объект с мутациями для props кнопки
        | any:              value                 - привязанное значение, в onclick и action передаётся именно оно
