section(id="examples" class="section")
  h1(class="title") Elements.Buttons.UIButtons
  div( class="box")
    div(class="block")
      pre
        | Нотация тип: название = поумолчанию - описание
        | Array of Object:    [values] = []           - массив props для UIButton
        | boolean:          [centered] = false      - класс центровка.
        | boolean:          [right] = false         - класс снос вправо.
        | string:           [classes] = '';         - дополнительные классы, строкой. Не передается в кнопки.
        | Component         [buttonComponent = UIButton] - конструктор компонента для отрисовки кнопки (svelte Component)
        | UIEventCallback [onclick = ({ event, value })=>true]     - первым срабатывает если определен, потом идёт action
        | UIEventInputChangeCallback [action = (event, value)=>true]  - value переданный кнопке

