- var title = "not-bulma: Elements.Icons.UIIconFont"
script.
  window.EXAMPLES_SELECTED = 'UIIconFont';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/icons/icon.font.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/icons/icon.font.js" type="module")
include ../../../parts/footer.pug
