- var title = "not-bulma: Elements.Icons.UIIconFloating"
script.
  window.EXAMPLES_SELECTED = 'UIIconFloating';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/icons/icon.floating.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/icons/icon.floating.js" type="module")
include ../../../parts/footer.pug
