- var title = "not-bulma: Elements.Forms.UIFormInput"
script.
  window.EXAMPLES_SELECTED = 'UIFormInput';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/form/form.input.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/form/form.input.js" type="module")
include ../../../parts/footer.pug
