section(class="section")
  h1(class="title") Фреймворк
  h2( class="subtitle") 
  div( class="box")
    h3( class="title") Общее
    h4(class="subtitle") 
    div(class="block")
      ul
        li
          a(href="./frame.app.html") notApp
          | - приложение
        li
          a(href="./frame.base.html") notBase
          | - базовый класс для объектов
        li
          a(href="./frame.controller.html") notController
          | - контроллер для приложения
        li
          a(href="./frame.interface.html") notInterface
          | - сетевой интерфейс
        li
          a(href="./frame.LIB.html") LIB
          | - словарь компонентов
        li
          a(href="./frame.options.html") Options
          | - настройки
        li
          a(href="./frame.record.html") notRecord
          | - модель для работы с данными через сетевой интерфейс
        li
          a(href="./frame.router.html") notRouter
          | - роутер
      pre
        | Пример кода
