section(id="examples" class="section")
  h1(class="title") Верхняя панель навигации - элемент - ссылка
  h2(class="subtitle") Elements.Navigations.UINavbarItemLink
  div( class="box")    
    div(class="block")
      p обертка Elements.Links.UILink с префикс классом "navbar-item", который будет добавлен перед содержимым свойства class, и target установленным в "_self", остальные свойства повторяют Elements.Links.UILink
      pre
        | string: classPrefix = 'navbar-item'
        | string: target = '_self'
