section(id="examples" class="section")
  h1(class="title") Верхняя панель навигации - обертка для элемента брэнда
  h2(class="subtitle") Elements.Navigations.UINavbarBrandWrapper
  div( class="box")    
    div(class="block")
      pre
        | classPrefix = "navbar-brand"           - префикс class
        | string: class = ''                     - CSS classes list
