section(id="examples" class="section")
  h1(class="title") Верхняя панель навигации
  h2(class="subtitle") Elements.Navigations.UINavbar
  div( class="box")    
    div(class="block")
      pre
        | array of objects: items                            - items
        | array of objects: sections                            - sections
        | string: class = ''                      - CSS classes list
