section(id="examples" class="section")
  h1(class="title") Верхняя панель навигации - элемент - блок текста
  h2(class="subtitle") Elements.Navigations.UINavbarItem
  div( class="box")    
    div(class="block")
      p Обертка Elements.Blocks.UIContent с префиксом класса "navbar-item" и опциональным текстом
      pre        
        | string: classPrefix = 'navbar-item'     - CSS classes list's prefix
        | string: class = ''                      - CSS classes list
        | string: text                            - text content
