section(id="examples" class="section")
  h1(class="title") Верхняя панель навигации - брэнд
  h2(class="subtitle") Elements.Navigations.UINavbarBrand
  div( class="box")    
    div(class="block")
      pre
        | url = "/"                               - ссылка
        | title = ""                              - название брэнда
        | icon = { 
        |   src: "https://placehold.co/56x28.png",            
        |   width: 28,            
        |   height: 56,
        |  }                                      - иконка для брэнда, смотри свойства Elements.Icons.Icon
        | classPrefix = "navbar-item"             - префикс class
        | titleClass = 'navbar-item-brand-title'  - класс текста для иконки брэнда
        | string: class = ''                      - CSS classes list
