- var title = "not-bulma: Elements.Modals.UIGenericSelector"
script.
  window.EXAMPLES_SELECTED = 'UIGenericSelector';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/modals/generic.selector.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/modals/generic.selector.js" type="module")
include ../../../parts/footer.pug
