- var title = "not-bulma: Elements.Modals.UIModal"
script.
  window.EXAMPLES_SELECTED = 'UIModal';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/modals/modal.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/modals/modal.js" type="module")
include ../../../parts/footer.pug
