- var title = "not-bulma: Elements.Buttons.UIButtonsRow"
script.
  window.EXAMPLES_SELECTED = 'UIButtonsRow';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/buttons/buttons.row.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/buttons/buttons.row.js" type="module")
include ../../../parts/footer.pug
