- var title = "not-bulma: Elements.Buttons.UIButton"
script.
  window.EXAMPLES_SELECTED = 'UIButton';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/buttons/button.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/buttons/button.js" type="module")
include ../../../parts/footer.pug
