- var title = "not-bulma - фреймворк"
include ../../parts/header.pug
include ../../parts/menu.pug
include ../../parts/sidemenu.pug

main
  include ../../content/frame/index.pug
  include ../../parts/foot.pug
  
include ../../parts/footer.pug
