section(id="examples" class="section")
  h1(class="title") Иконка  
  h2(class="subtitle") Elements.Icons.UIIcon
  div( class="box")    
    div(class="block")
      pre
        | string:   [title = ""] - font icon title
        | string:   [size = ""]  - font icon size
        | string:   [font = ""] - font icon name
        | string:   [svg = ""] - svg icon
        | string:   [src = ""] - image icon
        | number|string: width
        | number|string: height