section(id="examples" class="section")
  h1(class="title") Иконка  
  h2(class="subtitle") Elements.Icons.UIIconFont
  div( class="box")    
    div(class="block")
      pre
        | string:   [title = ""] - title
        | string:   [size = ""]  - size: small, medium, large
        | string:   [font = ""] - name
        | string:   [side = ""] - left|right. Working only when title is empty
        | boolean:   [pointable = false] - pointer cursor