- var title = "not-bulma: Elements.Lists.UIListSelectWithGroups"
script.
  window.EXAMPLES_SELECTED = 'UIListSelectWithGroups';
include ../../../../parts/header.pug
include ../../../../parts/menu.pug
include ../../../../parts/sidemenu.pug

main
  include ../../../../content/elements/list/select/list.select.with.groups.pug
  include ../../../../parts/foot.pug
  
script(src="/examples/elements/list/select/list.select.with.groups.js" type="module")
include ../../../../parts/footer.pug
