aside.menu{
  position: fixed;
  background-color: #ffffff;
  overflow-y: scroll;
  padding: 1rem;

  & .is-no-follow-subtitle{
	  padding: .5em .75em;
  }

  & .is-closed{
    display: none;
  }

  & .is-toggle-submenu{
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px){
  aside.menu{
    width: 20em;
  }
}

@media screen and (max-width: 1023px){
  aside.menu{
    transition: width .5s;
    z-index: 10;
    width: 0px;
    left: -100px;
    &.is-active{
      width: 100%;
      left: 0px;
    }
  }
}

.is-wide{
  min-width: 15em;
}

#search-filter{
  padding: 1rem;
}
#search-filter .field:not(:last-child){
  margin-bottom: 0.25px!important;
}

#search-filter .form-field-UICheckboxList-type label{
  line-height: 2.25em;
  margin-bottom: 0.0px!important;
}
