.modal-selector.box {
    margin: 5vh auto auto auto;
    max-height: 90vh;

    &.fullscreen {
        width: 100vw;
    }

    &.wide {
        width: 75vw;
    }

    &.normal {
        width: 50vw;
    }

    &.narrow {
        width: 25vw;
    }
}

@media (max-width: 700px) {
    .modal-selector.box {
        width: 100vw;
        height: 100vh;
        margin: 0vh auto auto auto;
    }
}
