.tag{
  &.is-small{
    font-size: 0.65em;
  }

  &.is-sided{
    position: absolute;
  }

  &.is-sided-right{
    right: 0px;
  }

  &.is-sided-left{
    left: 0px;
  }

  &.is-sided-top{
    top: 0px;
  }

  &.is-sided-bottom{
    bottom: 0px;
  }

}
