@media (max-width: 1023px) {
  /*#search-filter button {
    font-size: 3rem;
  }*/

  #search-filter .buttons {
    //margin-top: 1rem;
  }

  #search-filter .field > .label {
  //  padding-top: 2rem;
    //font-size: 2.5rem;
    //letter-spacing: 0.5rem;
  }

  #search-filter,
  #search-filter .control {
    //font-size: 3rem;
  }

  #search-filter .control input {
    //font-size: 3rem;
  }
/*
  #search-filter .control input[type="checkbox"] {
    height: 3rem;
    width: 3rem;
  }
*/
  #search-filter .form-field-UICheckboxList-type label {
    //margin-right: 1rem;
  }
}

#search-filter {
  //padding: 1rem;
}

#search-filter .field:not(:last-child) {
  //margin-bottom: 0.25px!important;
}

#search-filter .form-field-UICheckboxList-type label {
//  line-height: 2.25em;
  //margin-bottom: 0.0px!important;
}


#search-filter{
  padding: 1rem;
}
#search-filter .field:not(:last-child){
  margin-bottom: 0.25px!important;
}

#search-filter .form-field-UICheckboxList-type label{
  line-height: 2.25em;
  margin-bottom: 0.0px!important;
}
