- var title = "not-bulma: Elements.Layouts.UIColumns"
script.
  window.EXAMPLES_SELECTED = 'UIColumns';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/layout/columns.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/layout/columns.js" type="module")
include ../../../parts/footer.pug
