- var title = "not-bulma: Elements.Layouts.UIContainer"
script.
  window.EXAMPLES_SELECTED = 'UIContainer';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/layout/container.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/layout/container.js" type="module")
include ../../../parts/footer.pug
