- var title = "not-bulma: Elements.Layouts.UILevelItem"
script.
  window.EXAMPLES_SELECTED = 'UILevelItem';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/layout/level.item.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/layout/level.item.js" type="module")
include ../../../parts/footer.pug
