- var title = "not-bulma: Elements.Layouts.UIPanelSide"
script.
  window.EXAMPLES_SELECTED = 'UIPanelSide';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/layout/panel.side.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/layout/panel.side.js" type="module")
include ../../../parts/footer.pug
