- var title = "not-bulma: Elements.Forms.UIFormInputErrors"
script.
  window.EXAMPLES_SELECTED = 'UIFormInputErrors';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/forms/form.input.errors.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/forms/form.input.errors.js" type="module")
include ../../../parts/footer.pug
