- var title = "not-bulma: Elements.Forms.UIFormControl"
script.
  window.EXAMPLES_SELECTED = 'UIFormControl';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/forms/form.control.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/forms/form.control.js" type="module")
include ../../../parts/footer.pug
