section(id="examples" class="section")
  h1(class="title") Элемент "бесконечного" списка
  h2(class="subtitle") Elements.Lists.UIEndlessListSimpleItem
  div( class="box")    
    div(class="block")
      pre
        | string:     title
        | string:     id
        | string:     _id
        | function:   onclick     - ({ _id: string, id: string, title: string})=>undefined
