- var title = "not-bulma: Elements.Links.UILink"
script.
  window.EXAMPLES_SELECTED = 'UILink';
include ../../../parts/header.pug
include ../../../parts/menu.pug
include ../../../parts/sidemenu.pug

main
  include ../../../content/elements/link/link.pug
  include ../../../parts/foot.pug
  
script(src="/examples/elements/link/link.js" type="module")
include ../../../parts/footer.pug
